<body>
        <div class="container my-2">
        <div *ngIf="booleanArray[0]; else elseBlock" class="conatiner">
            <app-dualscreen [booleanArray]="booleanArray" [screenstream]="screensrc" (buttonDataFromDualScreen) = "buttonValues($event)" (cameraStream) = "getCameraStatus($event)"></app-dualscreen>
        </div>
        <ng-template #elseBlock>
            <div class="screencontainer">
                <video id="screen" class="object-fit-fill" autoplay ></video>
            </div>
            <app-button-pallet [booleanArray] = "booleanArray" (dataFromButtonPallete)="buttonValues($event)"></app-button-pallet>
        </ng-template>
        </div>
</body>

